#Home
{
    width: 100%;
    height: 660px;
    background-image: url(../aaa.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 120% 110%;
    color: white;
    position: relative;
}
.HomeOverlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(168, 146, 216, 0.4);
}
#leftMenu
{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #383333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow: hidden;
}

.left-img{

    height: 100vh;
    background-image: url(../aaa.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 80%; 
    opacity: 0.2;
}

.leftMenuItems a {
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #c8c7d1;
    display: block;
    transition: 0.3s;
    color: goldenrod;
}




#Home h2
{
    margin-top: 200px;
    
}




#Home h2,p
{
    text-align: center;
    
}




.leftMenuItems
{
    background-color: #414658;
}



.hv1{
    color: goldenrod;
}
.hv1:hover{
    color: white;
}
.leftMenuItems a:hover{
    color: white ;
}

.leftMenuItems .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#home-content {
    transition: margin-left .5s;
    padding: 16px;
}

#home-content h2
{
    font-size: 60px;
}

@media screen and (max-height: 450px) {
.leftMenuItems {padding-top: 15px;}
.leftMenuItems a {font-size: 18px;}
}


/*seconed section*/

#sliderDown
{
    background-color: #b745b7;
    margin: 100px auto;
    width: 50%;
    
}

#sliderDown h3
{
    padding: 10px;
    margin: 0;
    background-image: url(../aaa.jpg);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 600% 440%;   
    cursor: pointer;
    color: gold;
}



#sliderDown h3:hover{
    color: #FFF;
}

#sliderDown div
{
    padding: 10px;
    background-image: url(../aaaa.jpg);
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    display: none;
    color: rgb(235, 234, 229);
}



#sliderDown .first{
    display:block;
}

/*third section*/

#count
{

    background-image: url(../th.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    position: relative;
    height: 330px;
    
    
}


.count-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(112, 88, 88, 0.7);
    color: rgb(244, 190, 53);

}
.tr{
    transition: 1s;
}

.count-overlay .nombers:hover
{
    color:  greenyellow;
}

.container
{
    padding: 100px 0px;
}

.nombers
{
    
    padding: 50px;
    border: 1px solid greenyellow;
    font-weight: 500;
    font-size: 30px;
}
.nombers:hover{
    border: 1px solid goldenrod;
    

}

/*section four*/
#contact-us{
    margin-top:100px;
}

.head h2{
    text-transform: uppercase;
    font-size: 35px;
    color:#444;
    font-weight: bold;
    margin-bottom: 20px;
}
.head p{
    color:#777;
    font-weight: 300;
    font-size: 16px;
}
.con-info h3{
    color:#444;
    font-size: 18px;
    font-weight: bold;
}
.con-info p{
    font-size: 16px;
    line-height: 26px;
    color:#777;
}

.icons{
    margin-top:50px;
}
.icons p{
    margin-bottom: 35px;
}
i{
    margin-right: 20px;
    color:#777;
}
.red{
    color:#D62E33 !important;
}


.con-info .social-list{
    margin-top:60px;
    color:#777;
    
}

.con-info .social-list i{
    margin-right: 10px;
    border:1px solid #999;
    width:40px;
    height: 40px;
    line-height: 42px;
    cursor: pointer;
    text-align: center;
}
.con-info .social-list i:hover{
    color:#fff;
    background-color: #D62E33;
    border:1px solid #D62E33;
}
form input,
form textarea{
    margin-bottom: 20px;
    border-radius: 0;
}
form textarea{
    height: 200px;
    resize:vertical;
}

form button{
    color:goldenrod;
    padding:10px 20px;
    border-radius: 0;
    text-transform: uppercase
}

#chars
{
    font-size: 20px;
    color: #D62E33;
}